* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-font: "Inter", sans-serif;
  --primary-gradiant: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  --gradiant-hover: linear-gradient(
    45deg,
    rgba(145, 0, 248, 1),
    rgba(251, 9, 180, 1),
    rgba(247, 233, 63, 1)
  );
}
body {
  font-family: var(--primary-font);
  height: 100vh;
  width: 100%;
  color: white;
}
/* 412567
1A0B2E */

/* shared style start */

/* all btn  */
button {
  padding: 12px 16px;
  font-weight: 600;
  border-radius: 24px;
  display: flex;
  align-items: center;
}
.btn-primary {
  background: var(--primary-gradiant);
  color: white;
  border: none;
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.3);

  background-size: 150% 100%;
  background-position: left center;
  transition: background 0.3s linear;
}

.btn-secondary {
  background: transparent;
  border: 1px solid rgba(0, 255, 136, 1);
  color: rgba(0, 255, 136, 1);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}
.btn-primary:hover {
  background-position: right center;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
}
.description {
  font-weight: 400;
}

/* shared style end  */

/* header style  */
/* navbar style  */

.navbar {
  background: #1a0b2e;
  border-bottom: 1px solid #412567;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.navbar h3 {
  font-weight: 700;
  font-size: 2rem;
}
.navbar span {
  background: var(--primary-gradiant);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu-bar {
  display: flex;
  gap: 32px;
}
.navbar span:hover {
  background: var(--gradiant-hover);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.nav-item {
  list-style: none;
  margin-right: 1.8rem;
}
.menu-bar a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}
.hamburger {
  display: none;
}
/* banner related style  */
.banner {
  background: url(/assets/hero-bg.png);
  background-position: center;
  background-size: cover;
}

.banner-img-section {
  height: 29rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-circle {
  position: relative;
  width: 21.8rem;
}
.hero-circle img {
  width: 100%;
}
.microphone {
  position: absolute;
  bottom: 5.6rem;
  right: 6.8rem;
  width: 8rem;
}
.notification {
  position: absolute;
  top: 1.6rem;
  right: 1.8rem;
  background: rgba(0, 255, 136, 1);
  padding: 8px 16px;
  border-radius: 20px;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.notification:hover {
  background: rgb(0, 214, 114);
}

/* banner content style  */
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-title {
  font-size: 3.8rem;
  font-weight: 800;
}
.banner-description {
  margin: 1.5rem;
}
.btn-group {
  display: flex;
  gap: 8px;
  padding-bottom: 3.4rem;
}

/* about section related style  */
.about {
  background: #1a0b2e;
  height: 34rem;
}
.about .section-title {
  margin-bottom: 1.4rem;
}
.about .container {
  padding: 4.8rem 0 1rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 3.6rem;

  border-bottom: 1px solid #412567;
}
.section-description {
  max-width: 70%;
}

.about-details {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.about-link {
  text-decoration: none;
  color: white;
}
.about-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 576px) {
  .container {
    width: 92%;
  }
  .menu-bar,
  .nav-btn {
    display: none;
  }
  .hamburger {
    display: block;
  }

  /* Banner Image */
  .banner {
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
  }
  .banner-img-section {
    height: auto;
    padding: 2.4rem;
  }
  .hero-circle {
    width: 14rem;
    top: 3rem;
  }
  .microphone {
    bottom: 3rem;
    right: 4.2rem;
    width: 5.4rem;
  }
  .notification {
    top: 1rem;
    right: 0.8rem;
    font-size: 14px;
    padding: 4px 8px;
  }
  /* content  */
  .banner-title {
    font-size: 2.9rem;
    padding-top: 4rem;
  }
}
